# Azure
AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_CONTAINER=
AZURE_STORAGE_KEY=

# Postgres Database
DB_HOST=127.0.0.1
DB_NAME=test-db
DB_PASSWORD=LETcode@1234
DB_PORT=1433
DB_USER=sa

# JWT
JWT_SECRET=

# Email
MAIL_FROM=
MAIL_HOST=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_USER=

# Redis
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

# Server
PORT=9989
NODE_ENV=development



